<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>NewsFeed</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngFor="let news of newsFeed" (click)="checkoutArticle(news)">
  <img alt="Article image" src="{{ news.urlToImage }}" />
  <ion-card-header>
    <ion-card-subtitle>Article Tags: {{ news.tags }}</ion-card-subtitle>
    <ion-card-title>Article Title: {{ news.title }}</ion-card-title>
  </ion-card-header>
  </ion-card>
</ion-content>

<!--  <ion-infinite-scroll (ionInfinite)="loadMoreNews($event)">
    <ion-infinite-scroll-content loadingSpinner="bubble" loadingText="load news.."></ion-infinite-scroll-content>
  </ion-infinite-scroll>-->
