<ion-header>
  <ion-toolbar>
    <ion-title>Workplace Reviews</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none">
    <ion-label>
      <h1>{{ workplace?.name}}</h1>
      <p>{{ workplace?.location}}</p>
    </ion-label>

  </ion-item>
  <ion-item>
    <star-rating [labelText]="workplace?.averageRating + ' (' + workplace?.reviewsCount+ ')'" [readOnly]="true"  labelPosition="right" [starType]="'svg'" [rating]="workplace?.averageRating"></star-rating>
    <ion-button slot="end">Add Review</ion-button>
  </ion-item>
  <ion-list>
    <ion-item-group>
      <ion-item-divider>
        <ion-label>
         Anonymous Reviews
        </ion-label>
      </ion-item-divider>
      <ion-item *ngFor="let r of reviews" detail="true">
        <ion-label>
          <h3>#{{r.id}}</h3>
          <p>{{r.review}}</p>
        </ion-label>
        <star-rating [labelText]="r.rating.toString()" [readOnly]="true"  labelPosition="right" [starType]="'svg'" [rating]="r.rating"></star-rating>
      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>
