<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button  defaultHref="/tabs/workplace-rater"></ion-back-button>
    </ion-buttons>
    <ion-title>Workplace Reviews</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none">
    <ion-label>
      <h1>{{ workplace?.name}}</h1>
      <p>{{ workplace?.location}}</p>
    </ion-label>

  </ion-item>
  <ion-item>
    <star-rating [labelText]="workplace?.averageRating.toFixed(1) + ' (' + workplace?.reviewsCount+ ')'" [readOnly]="true"  labelPosition="right" [starType]="'svg'" [rating]="workplace?.averageRating"></star-rating>
    <ion-button [routerLink]="['/user-workplace-rating', workplace?.placeId]" slot="end">Add Review</ion-button>
  </ion-item>
  <ion-modal [isOpen]="isDetailsModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Review Details</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setIsDetailsModalOpen(false)">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <p>
          {{ selectedReview.review}}
        </p>
        <hr/>
        <ion-row>
          <ion-col size="6">
            <p><ion-icon name="calendar-outline"></ion-icon> {{ selectedReview.created | date:'mediumDate' }}</p>
          </ion-col>
          <ion-col size="6">
            <star-rating [labelText]="selectedReview.rating.toString()" [readOnly]="true"  labelPosition="right" [starType]="'svg'" [rating]="selectedReview.rating"></star-rating>
          </ion-col>
        </ion-row>
      </ion-content>
    </ng-template>
  </ion-modal>
  <ion-list>
    <ion-item-group>
      <ion-item-divider>
        <ion-label>
         Anonymous Reviews
        </ion-label>
      </ion-item-divider>
      <ion-item *ngFor="let r of reviews" detail="true" (click)="onReviewClick(r)">
        <ion-label>
          <h3>#{{r.id}}</h3>
          <p>{{r.review}}</p>
        </ion-label>
        <star-rating [labelText]="r.rating.toString()" [readOnly]="true"  labelPosition="right" [starType]="'svg'" [rating]="r.rating"></star-rating>
      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>
