<ion-content class="background">

  <div class="login-logo">
    <img src="../../../assets/img/logIn.png" alt="flamelet logo">
  </div>


  <form #loginForm="ngForm" novalidate>
    <ion-list >
      <ion-item class="rounded-input">
        <ion-input placeholder="Enter your Email" [(ngModel)]="loginDetails.email" name="email" type="email" #email="ngModel" spellcheck="false" autocapitalize="off"
                   required>
        </ion-input>
      </ion-item>

      <ion-text color="danger" class="ion-align">
        <p [hidden]="email.valid || submitted === false" class="ion-padding-start">
          Username is required
        </p>
      </ion-text>

      <ion-item class="rounded-input">
        <ion-input placeholder="Enter your password" [(ngModel)]="loginDetails.password" name="password" type="password" #password="ngModel" required>
        </ion-input>
      </ion-item>

      <ion-text color="danger" class="ion-align">
        <p [hidden]="password.valid || submitted === false" class="ion-padding-start">
          Password is required
        </p>
      </ion-text>
    </ion-list>

    <ion-row class="ion-padding-top">
      <ion-col class="ion-button-align">
        <ion-button shape="round" size="default"  (click)="onLogin(loginForm)" type="submit" expand="block">Login</ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding-top">
      <ion-col class="ion-button-align">
        <ion-button fill="clear" color="dark" (click)="onRegister()">Register here</ion-button>
      </ion-col>
    </ion-row>
  </form>

</ion-content>
