.login-logo {
  padding-top: 180px;
  min-height: 200px;
  text-align: center;
  padding-bottom: 30px;
}

.login-logo img {
  max-width: 150px;
}

.ion-align {
  text-indent: 30px;
}

.rounded-input {
  padding-top: 5px;
  padding-left: 30px;
  padding-right: 30px;
  --border-color: var(--ion-color-medium-shade);
  --border-radius: 30px;
  --border-width: 1px;
  }

.ion-button-align {
  --ion-font-family: AppFontBold;
  text-align: center;
  padding-right: 28px;
  padding-left: 28px;
}

.ion-padding-top {
  padding-top: 10px;
}

.list {
  margin-bottom: 0;
}

ion-content.background{
  --background: url(../../../assets/background/LoginBackground.png) 100% 100% no-repeat;
}

