<ion-content class="background">

  <div class="register-img">
    <img src="assets/img/register.png" alt="register img">
  </div>

  <form #registerForm="ngForm" novalidate>
    <ion-list lines="none">
      <ion-item class="rounded-input">
        <ion-input placeholder="Enter your full name" [(ngModel)]="registrationDetails.fullName" name="fullName" type="text" #fullName="ngModel" required>
        </ion-input>
      </ion-item>
      <ion-text color="danger">
        <p [hidden]="fullName.valid || submitted === false" class="ion-padding-start">
          Fullname is required
        </p>
      </ion-text>
      <ion-item class="ion-align">
        <ion-select name="occupation" [(ngModel)]="selectedOccupation" #occupation="ngModel"  placeholder="Occupation" required>
          <ion-select-option *ngFor="let occupationType of occupationTypes"  [value]="occupationType.id">{{ occupationType.name }}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-text color="danger">
        <p [hidden]="occupation.valid || submitted === false" class="ion-padding-start">
          Your occupation is required
        </p>
      </ion-text>
        <ion-item class="rounded-input">
          <ion-input placeholder="Enter your Email Address" [(ngModel)]="registrationDetails.email" name="fullName" type="text" #email="ngModel" required>
          </ion-input>
        </ion-item>
        <ion-text color="danger">
          <p [hidden]="email.valid || submitted === false" class="ion-padding-start">
            Email is required
          </p>
        </ion-text>

        <ion-item class="rounded-input">
        <ion-input placeholder="Create a strong password" [(ngModel)]="registrationDetails.password" name="password" type="password" #password="ngModel" required>
        </ion-input>
      </ion-item>
      <ion-text color="danger">
        <p [hidden]="password.valid || submitted === false" class="ion-padding-start">
          Password is required
        </p>
      </ion-text>
    </ion-list>

    <div class="ion-padding">
      <ion-button
        class="ion-button-align" shape="round"
        (click)="onRegister(registerForm)" type="submit" expand="block">
        REGISTER
      </ion-button>
    </div>
  </form>

</ion-content>
