<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Add New Task</ion-title>
    <ion-icon name="close" slot="end" size="large" (click)="dismiss()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <!-- Input with placeholder -->
    <ion-item>
      <div class="item-wrapper">
        <ion-label>Task Name</ion-label>
        <div>
          <ion-textarea class="task-name" [(ngModel)]="taskName" placeholder="Task Name"></ion-textarea>
        </div>
      </div>
    </ion-item>
    <ion-item>
      <ion-datetime class="datetime" [(ngModel)]="taskDueDate"></ion-datetime>
    </ion-item>
    <ion-item>
      <div class="item-wrapper">
        <ion-label>Duration</ion-label>
        <div class="duration-text">
          <ion-textarea [(ngModel)]="taskDurationHours" placeholder="HH"></ion-textarea>
          <ion-textarea [(ngModel)]="taskDurationMinutes" placeholder="MM"></ion-textarea>
        </div>
      </div>
    </ion-item>
  </ion-card>

  <!-- Add the task -->
  <ion-button class="ion-margin" expand="block" (click)="addTask()">Add Task</ion-button>
</ion-content>
