<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<!-- welcome message for user -->
<ion-content>
  <ion-card class="ion-padding">
    <ion-row>
      <ion-col size="4">
        <ion-avatar>
          <img alt="Silhouette of a person's head" src="https://i.pravatar.cc/300" />
        </ion-avatar>
      </ion-col>
      <ion-col size="8">
        <ion-text>
          <h5>Good morning {{fullName}}!  <span><ion-icon name="sunny"></ion-icon></span></h5>
        </ion-text>
        <ion-text><h6>Let's start your day!</h6></ion-text>
      </ion-col>
    </ion-row>
  </ion-card>

  <!-- white noise card -->
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Your todo playlist</ion-card-subtitle>
      <ion-card-title>Recommendations</ion-card-title>
    </ion-card-header>

    <!-- white noise -->
    <ion-slides [options]="slideOpt">
      <ion-slide *ngFor="let whiteNoise of whiteNoises;index as i" >
        <ion-card class="white-noise-recommendation-card" >
          <ion-row>
            <ion-col class="ion-align-items-start ion-no-margin ion-no-padding" size="8">
              <ion-card-header class="white-noise-header">
                <ion-card-title class="white-noise-title">{{ whiteNoise.title }}</ion-card-title>
                <ion-card-subtitle class="white-noise-subtitle">{{ whiteNoise.length}}</ion-card-subtitle>
              </ion-card-header>
            </ion-col>
            <ion-col size="4"></ion-col>
          </ion-row>
          <ion-card-content>
            <button ion-fab icon-only class="white-noise-player" (click)="onWhiteNoiseRecommendationClicked(whiteNoise.audioPath, i)">
              <ion-icon [hidden]="whiteNoise.isPlaying" name="play"></ion-icon>
              <ion-icon [hidden]="!whiteNoise.isPlaying" name="stop"></ion-icon>
            </button>
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </ion-card>

  <!-- to do list -->
  <!--  <ion-slides [options]="slideOptTodo">-->
  <!--    <ion-slide>-->
  <ion-card class="timeline">
    <ion-card-header>
      <ion-card-subtitle>{{today | date:'fullDate'}}</ion-card-subtitle>
      <ion-card-title>Todo</ion-card-title>
    </ion-card-header>

    <!-- the list -->
    <ion-card-content *ngFor="let item of todoList" class="timeline-event">
      <div class="timeline-point-container">
        <ion-checkbox slot="start" class="timeline-point"></ion-checkbox>
      </div>
      <ion-card class="timeline-content">
        <ion-card-header>
          <ion-card-title>
            {{item.itemName}}
          </ion-card-title>
          <ion-card-subtitle class="timeline-date">
            {{item.itemDueDate | date:'mediumDate'}}
          </ion-card-subtitle>
          <span class="time">{{item.itemDueDate | date:'shortTime'}}</span>
        </ion-card-header>
      </ion-card>
    </ion-card-content>
    <ion-button class="clear-button" [hidden]="areNoTasksAdded()" (click)="resetTasks()">Clear</ion-button>
  </ion-card>

  <!-- add a to do task -->
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="addTask()">
      <ion-icon name="add-sharp"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
