<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Article</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img alt="Article image" src=" {{ currArticle.urlToImage }}" />
    <ion-card-header>
      <ion-card-subtitle>Article Tags {{ currArticle.tags }}</ion-card-subtitle>
      <ion-card-title>Article Title: {{ currArticle.title }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      News article content
    </ion-card-content>
  </ion-card>

</ion-content>
