<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button *ngIf="ios" (click)="dismiss()">Cancel</ion-button>
      <ion-button *ngIf="!ios" (click)="reset()">Reset</ion-button>
    </ion-buttons>

    <ion-title>
      Filter Group Chats
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="applyFilters()" strong>Done</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list [lines]="ios ? 'inset' : 'full'">
    <ion-list-header>CHOOSE OCCUPATION</ion-list-header>
    <ion-item>
      <ion-select name="occupation" [(ngModel)]="selectedOccupation" #occupation="ngModel"  placeholder="Occupation" required>
        <ion-select-option *ngFor="let occupationType of occupationTypes"  [value]="occupationType.id">{{ occupationType.name }}</ion-select-option>
      </ion-select>
    </ion-item>

  </ion-list>

</ion-content>

<ion-footer translucent="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="reset()">Reset</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
